@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

/* https://fonts.google.com/specimen/Source+Serif+Pro?category=Serif,Display&preview.text=Alexandra%20Lukinicheva&preview.text_type=custom&subset=cyrillic#standard-styles
https://fonts.google.com/specimen/Tinos?category=Serif,Display&preview.text=Alexandra%20Lukinicheva&preview.text_type=custom&subset=cyrillic#standard-styles
https://fonts.google.com/specimen/Vollkorn+SC?category=Serif,Display&preview.text=Alexandra%20Lukinicheva&preview.text_type=custom&subset=cyrillic#pairings
*/
body{
  background-color: black;
  color: whitesmoke;
}
.override{
  padding: 0px;
}
.bg-dark {
  background-color: #1d2124!important;
}
li.nav-item {
  margin: 0px 10px;
}
a {
  color: #ba46b7;
}
a:hover, a:focus {
  color: #e2e243;
  text-decoration: underline;
}
#pronun{
  color: grey;
}
h1, h2{
  letter-spacing: 0.03em;
  /* font-family: 'Prata', serif; */
  font-weight: 800;
  /* font-family: 'Yeseva One', serif; */
  /* font-family: 'Suez One', serif; */
  font-family: 'DM Serif Text', serif;
}
body{
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 515px){
  span.nav-text {
    display: none;
}
}